{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wishlist.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hotel_detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>


</head>
<body>
{% load static %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="{% url 'home' %}" >Hotel </a>

    <ul>
        {% if user.is_authenticated %}
        <span style="color:black;">Hello,{{request.user}}</span>
        <span><button type="button" class="btn"
                      style="color: white; margin-right:20px;background-color: black;" type="submit">
            <a href="/user_favorites" >My Favorites</a></button>

                <span><button type="button" class="btn"
                              style="color: white; margin-right:20px;background-color: black;" type="submit">  <a
                        href="{% url 'logout' %}" style="color:white;">Logout</a></button>
  </span>
                {% else %}
                <button type="button" class="btn" style="color: white; margin-right:20px;background-color: black;"
                        type="submit"><a href="{% url 'login' %}" style="color:white;">Login</a></button>

                <button type="button" onclick="{% url 'register' %}" class="btn "
                        style="color: white; background-color: black;" type="submit">
                    <a href="{% url 'register' %}" style="color:white;">Create an Account</a></button>
    </ul>
    {% endif %}
</nav>


</body>

</html>

