{% include 'base.html' %}
{%include 'header.html' %}

{% load static %}
{% block content %}

<style>
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
    .title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: var(--yellow);
    border-bottom: 5px solid var(--dark);
    width: 235px;
    padding-left:30px;
    margin: 15px 0;
}
.item-card-title{
font-size:25px;
}

</style>
<div class = "title">
                <h2>HOTELS</h2>
            </div>
<div class="container mt-3">
    <div class="row mb-5">
        {% for hotel in hotels %}
        <div class="col-md-3 item mb-3" style="margin-top:40px;">
            <div class="card h-80 item-card card-block">
                <img src="/media/{{hotel.image}}" alt="Photo" height="200px" style="object-fit:cover;">
                <div class="textline p-2 text-center">
                    <h5 class="item-card-title mt-1 p-2">{{hotel.name}}</h5>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> {{hotel.location}}</p>
<!--                    <p class="card-text">{{hotel.price}}</p>-->
                    <a href="/hotels/{{hotel.id}}" style="color:black; font-size:20px; font-weight:bold;"  >View Details</a></br>




                </div>
            </div>
        </div>
        {% endfor %}
        <div>
            {% if pagination.current_page > 1 %}
            <a href="/home/page/{{pagination.previous_page}}">
                Previous Page
            </a>
            {% endif %}

            {% if pagination.current_page != pagination.last_page %}
            <a href="/home/page/{{pagination.next_page}}">
                Next Page
            </a>
            {% endif %}
        </div>


        {% endblock %}
    </div>
</div>

{% include 'footer.html' %}

